.wrapper
  - haml_tag heading do
    %a{ :href => article.abspath }= article.heading
  .hr
    %hr
  .description
    - if article.summary.nil? || article.summary.empty?
      :maruku
        #{article.body}
    - else
      :maruku
        #{article.summary}
.permalink
  .wrapper
    %p
      %a{:title => "permalink", :href => article.abspath}
        - if article.date
          %span= format_date(article.date)
        - if article.categories.empty?
          %span{:class => "right"}
            %ul
              %li Uncategorised
        - else
          %span{:class => "right"}
            %ul
            - article.categories.each do |category|
              %li= category.heading
